html {
    font-size: 125%;
}

body {
    font-family: $body-font;
}

h1,
h2,
h3,
nav,
ul, 
li, 
p,
form,
button {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}