html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
nav,
ul,
li,
p,
form,
button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../assets/hexagonal-pattern.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.headerContainer {
  height: 100%;
  width: 100%;
}
.headerContainer::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, right bottom, from(#591CFF), color-stop(violet), to(#ff1b96));
  background-image: linear-gradient(to bottom right, #591CFF, violet, #ff1b96);
  opacity: 0.75;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.headerContainer nav {
  padding: 2rem 0;
}
.headerContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerContainer li {
  text-transform: uppercase;
  z-index: 10;
  margin: 0 1.25rem;
}
.headerContainer li a {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
.headerContainer li a:hover, .headerContainer li a:focus {
  border-bottom: 4px solid #ff1b96;
}

.headers {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  z-index: 10;
}

.aboutMeSection {
  background-color: black;
}

.aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.myImage img {
  -webkit-box-shadow: -0.75rem 0.75rem 0.05rem #ff1b96;
          box-shadow: -0.75rem 0.75rem 0.05rem #ff1b96;
}

.myStory {
  color: white;
  text-align: center;
  padding: 0 4rem;
}
.myStory h3 {
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: inline-block;
  border-bottom: 4px solid #ff1b96;
}
.myStory p {
  padding-top: 2rem;
  line-height: 1.5rem;
}

.skillsSection {
  background-color: black;
}
.skillsSection h3 {
  font-family: "Exo 2", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 4px solid #ff1b96;
  padding-top: 4rem;
}

.flexSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

.skillsSection ul {
  padding: 4rem 0;
  margin-top: 4rem;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  border: 6px solid white;
  border-radius: 20px;
  margin: 0 6rem;
}

.eachSkill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eachSkill p {
  color: white;
  text-align: center;
}

.eachSkill i {
  color: #ff1b96;
  font-size: 5rem;
  padding-bottom: 1rem;
}
.eachSkill i:hover {
  color: white;
  cursor: pointer;
}

.projectSection {
  background-color: black;
}

.flexProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexProjects ul {
  padding: 4rem 0;
}
.flexProjects ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #ff1b96;
  border-radius: 30px;
  padding: 2rem;
  margin-bottom: 4rem;
}

.flexProjects h3 {
  font-family: "Exo 2", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 4px solid #ff1b96;
  padding-top: 4rem;
}

.flexProjects .projectPhoto,
.flexProjects .projectInfo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 1rem;
}

.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectInfo h4 {
  border-bottom: 4px solid #ff1b96;
  font-size: 1.25rem;
  font-family: "Exo 2", sans-serif;
}
.projectInfo p {
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.projectInfo h4,
.projectInfo p {
  color: white;
}

.projectLinks a {
  color: white;
  text-transform: uppercase;
  border: 4px solid #ff1b96;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0 0.25rem;
}
.projectLinks a:hover, .projectLinks a:focus {
  background-color: white;
  color: black;
}

.contactSection {
  background-color: black;
}

.contactGrid {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}
.contactInfo h3 {
  font-family: "Exo 2", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 4px solid #ff1b96;
}
.contactInfo p {
  color: white;
  padding-top: 2rem;
  line-height: 1.5rem;
  text-align: center;
}

.contactInfo .email {
  color: white;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.contactInfo .email:hover, .contactInfo .email:focus {
  border-bottom: 4px solid #ff1b96;
}

.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.contactInfo li {
  padding: 0 1rem;
}
.contactInfo li a {
  color: #ff1b96;
  font-size: 2rem;
}
.contactInfo li a:hover, .contactInfo li a:focus {
  color: white;
}

.formContainer {
  border: 4px solid #ff1b96;
  border-radius: 30px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
}
.formGrid input,
.formGrid textarea {
  background-color: black;
  outline: none;
}

.formGrid textarea {
  resize: none;
}

.formGrid input[type=text],
.formGrid input[type=email],
.formGrid textarea {
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}
.formGrid input[type=text]::-webkit-input-placeholder, .formGrid input[type=email]::-webkit-input-placeholder, .formGrid textarea::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]::-moz-placeholder, .formGrid input[type=email]::-moz-placeholder, .formGrid textarea::-moz-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]:-ms-input-placeholder, .formGrid input[type=email]:-ms-input-placeholder, .formGrid textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]::-ms-input-placeholder, .formGrid input[type=email]::-ms-input-placeholder, .formGrid textarea::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]::placeholder,
.formGrid input[type=email]::placeholder,
.formGrid textarea::placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

.formGrid input[type=text]:focus, .formGrid input[type=text]:hover,
.formGrid input[type=email]:focus,
.formGrid input[type=email]:hover,
.formGrid textarea:focus,
.formGrid textarea:hover {
  background-color: white;
  color: black;
  border: 4px solid #ff1b96;
  border-radius: 30px;
  cursor: pointer;
}
.formGrid input[type=text]:focus::-webkit-input-placeholder, .formGrid input[type=text]:hover::-webkit-input-placeholder, .formGrid input[type=email]:focus::-webkit-input-placeholder, .formGrid input[type=email]:hover::-webkit-input-placeholder, .formGrid textarea:focus::-webkit-input-placeholder, .formGrid textarea:hover::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]:focus::-moz-placeholder, .formGrid input[type=text]:hover::-moz-placeholder, .formGrid input[type=email]:focus::-moz-placeholder, .formGrid input[type=email]:hover::-moz-placeholder, .formGrid textarea:focus::-moz-placeholder, .formGrid textarea:hover::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]:focus:-ms-input-placeholder, .formGrid input[type=text]:hover:-ms-input-placeholder, .formGrid input[type=email]:focus:-ms-input-placeholder, .formGrid input[type=email]:hover:-ms-input-placeholder, .formGrid textarea:focus:-ms-input-placeholder, .formGrid textarea:hover:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]:focus::-ms-input-placeholder, .formGrid input[type=text]:hover::-ms-input-placeholder, .formGrid input[type=email]:focus::-ms-input-placeholder, .formGrid input[type=email]:hover::-ms-input-placeholder, .formGrid textarea:focus::-ms-input-placeholder, .formGrid textarea:hover::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.formGrid input[type=text]:focus::placeholder, .formGrid input[type=text]:hover::placeholder,
.formGrid input[type=email]:focus::placeholder,
.formGrid input[type=email]:hover::placeholder,
.formGrid textarea:focus::placeholder,
.formGrid textarea:hover::placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

.formGrid button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  width: 140px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 30px;
}
.formGrid button:hover, .formGrid button:focus {
  border: 4px solid #ff1b96;
  border-radius: 30px;
  background-color: white;
  color: black;
  cursor: pointer;
}

footer {
  background-color: #ff1b96;
}
footer p {
  padding: 0.5rem 0;
  text-align: center;
}